<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Snyder Wood Storyteller</title>
    <script src="vendors/angular.min.js" charset="utf-8"></script>
    <script src="scripts/snyderWoodStoryteller.js" charset="utf-8"></script>
  </head>
  <body ng-app='myApp'>
    <div ng-controller='SnyderWoodSoryteller'>
      <div id='creator'>
        <h2>Creator</h2>
        <input type="text" ng-model='story.title' placeholder="title">
        <input type="text" ng-model='story.author' placeholder="author">
      </div>
      <div id='viewer'>
        <h1>{{ story.title }}</h1>
        <h2>by {{ story.author }}</h2>
        <h2><input type='text' ng-model='selectedScene.caption' size="128"></h2>
        <p><img ng-click='nextPanel()' img src='panels/{{ selectedScene.panel }}.png'/></p>
        <p>{{ selectedScene.beat }} ({{ currentSceneIndex+1 }}/15)</p>
        <button ng-click='previousScene()'>Prev</button>
        <button ng-click='nextScene()'>Next</button>
      </div>
    </div>
  </body>
</html>
